@import "tailwindcss";

@theme {
  /* Green Collection */
  --color-green-100: #F6F7EF;
  --color-green-200: #81BB39;
  --color-green-300: #D2D8D0;
  --color-green-400: #BBC3B8;
  --color-green-500: #A5B0A2;
  --color-green-600: #447409;
  --color-green-700: #153158;
  --color-green-800: #082144;

  /* Gray Collection */
  --color-gray-100: #F9F9F9;
  --color-gray-200: #EFEFEF;
  --color-gray-300: #CFCFCF;
  --color-gray-400: #AFAFAF;

  /* Base Collection */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-success: #1CCA00;
  --color-error: #EA201F;
  --color-warning: #F6A429;

  /* Typography - Fonts */
  --font-heading: var(--font-inter-tight), sans-serif;
  --font-body: var(--font-inter-tight), sans-serif;
  --font-mono: var(--font-fragment-mono), monospace;

  /* Headings (Redução Proporcional) */
  --text-h1: 4rem;
  /* 64px */
  --text-h2: 3rem;
  /* 48px */
  --text-h3: 2.5rem;
  /* 40px */
  --text-h4: 2rem;
  /* 32px */
  --text-h5: 1.75rem;
  /* 28px */
  --text-h6: 1.25rem;
  /* 20px */

  /* Sub-Headings */
  --text-sub-l: 1.125rem;
  /* 18px */
  --text-sub-m: 1rem;
  /* 16px (Mantido para legibilidade) */
  --text-sub-s: 0.75rem;
  /* 12px */

  /* Body Text */
  --text-body-l: 1.125rem;
  /* 18px */
  --text-body-m: 1rem;
  /* 16px (Padrão de leitura) */
  --text-body-s: 0.875rem;
  /* 14px (Aumentei levemente o S para acessibilidade) */

  /* Line Heights */
  --leading-tight: 1.0;
  /* Para Headings */
  --leading-relaxed: 1.1;
  /* Para Sub-Headings e Body */
}

@layer base {
  body {
    @apply font-body text-body-m bg-white text-black;
    line-height: var(--leading-relaxed);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading tracking-tight;
    line-height: var(--leading-tight);
  }
}