@import "tailwindcss";

@theme {
  /* Green Collection */
  --color-green-100: #F6F7EF;
  --color-green-200: #E9F0CA;
  --color-green-300: #D2D8D0;
  --color-green-400: #BBC3B8;
  --color-green-500: #A5B0A2;
  --color-green-600: #45663C;
  --color-green-700: #1C3A13;
  --color-green-800: #162E0F;

  /* Gray Collection */
  --color-gray-100: #F9F9F9;
  --color-gray-200: #EFEFEF;
  --color-gray-300: #CFCFCF;
  --color-gray-400: #AFAFAF;

  /* Base Collection */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-success: #1CCA00;
  --color-error: #EA201F;
  --color-warning: #F6A429;

  /* Typography - Fonts */
  --font-heading: var(--font-instrument-serif), serif;
  --font-body: var(--font-inter-tight), sans-serif;
  --font-mono: var(--font-fragment-mono), monospace;

  /* Headings (Instrument Serif) */
  --text-h1: 4.5rem;    /* 72px */
  --text-h2: 3.5rem;    /* 56px */
  --text-h3: 3rem;      /* 48px */
  --text-h4: 2.5rem;    /* 40px */
  --text-h5: 2rem;      /* 32px */
  --text-h6: 1.5rem;    /* 24px */

  /* Sub-Headings (Fragment Mono) */
  --text-sub-l: 1.25rem;  /* 20px */
  --text-sub-m: 1rem;     /* 16px */
  --text-sub-s: 0.75rem;  /* 12px */

  /* Body Text (Inter Tight) */
  --text-body-l: 1.25rem; /* 20px */
  --text-body-m: 1rem;    /* 16px */
  --text-body-s: 0.75rem; /* 12px */

  /* Line Heights */
  --leading-tight: 1.0;  /* Para Headings */
  --leading-relaxed: 1.1; /* Para Sub-Headings e Body */
}

@layer base {
  body {
    @apply font-body text-body-m bg-white text-black;
    line-height: var(--leading-relaxed);
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading tracking-tight;
    line-height: var(--leading-tight);
  }
}